body{
  font-family: $webfont;
  position: relative;
}
h1 {
  clear: both;
  color: $black;
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  margin: 25px 0;
  position: relative;
}
h2 {
  font-size: 21px;
  line-height: 28px;

  &.main-subtitle{
    clear: both;
    color: $greymedium;
    display: block;
    position: relative;
    font-weight: bold;
    margin: 0 0 25px 0;
  }
  &.global-subtitle{
    color: $greydark;
    display: block;
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    &:after{
      border-bottom: 2px solid $pink;
      content:"";
      display: block;
      height: 2px;
      margin: 0 auto;
      padding-top: 15px;
      position: relative;
      text-align: center;
      width: 130px;
    }
    @include breakpoint($tablet) {
      font-size:20px;
      line-height: 26px;
    }
  }
}
h3{
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  margin: 15px 0;
  @include breakpoint ($tablet) {
    font-size: 14px;
    line-height: 16px;
  }
}
h4 {
  margin: 15px 0;
}
h5 {
  margin: 15px 0;
}
h6 {
  margin: 15px 0;
}
ul {
  list-style: none;
}
li.w-bullets {
  margin-bottom: 8px;
  &:before {
    content: "\e923";
    font-family: 'atelecom-icons' !important;
    font-size: 12px;
    color: $pink;
    padding-right: 8px;
  }
  &.no-bullets {
    &:before {
      content: '';
      display: none;
    }
  }
}
table {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  caption {
    color: white;
    font-size: 28px;
    background-color: $pinklight;
    text-align: center;
    padding: 2%;

  }
  thead {
    background-color: #cfd1d2;
    td {
      padding: 1% 2%;
      box-sizing: border-box;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  tbody {
    tr {
      border: 1px solid #cfd1d2;

      td {
        padding: 1% 2%;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
      }
    }
  }
}

.half-page {
  float: left;
  width: 50%;
  @include breakpoint($tablet) {
    width: 100%;
  }
}
// GENERAL CLASSES AND TAGS
.left{
  display: block;
  float: left;
  position: relative;
}
.right{
  display: block;
  float: right;
  position: relative;
}
.clear{
  clear: both;
}
.pink{
  color:$pink;
}
a{
  text-decoration: none;
  color: $pink;
  &.button-pink{
    background-color: $pink;
    border-radius: 3px;
    color: $white;
    display: block;
    font-size:16px;
    font-weight: bold;
    height: 32px;
    line-height: 20px;
    margin: 0 auto;
    padding: 6px 11px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    &.bp-w-auto{
      width: auto;
      word-break: keep-all;
    }
    &:hover{
      background-color: $pinklight;
    }
    &:active{
      background-color: $pinkdark;
    }
    @include breakpoint($tablet) {
      font-size:14px;
      line-height: 18px;
    }
  }
  &.button-black{
    background-color: black;
    border-radius: 3px;
    color: $white;
    display: block;
    font-size:16px;
    font-weight: bold;
    height: 32px;
    line-height: 20px;
    margin: 0 auto;
    padding: 6px 11px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    &.bp-w-auto{
      width: auto;
      word-break: keep-all;
    }
    &:hover{
      background-color: grey;
    }
    &:active{
      background-color: $gris2;
    }
    @include breakpoint($tablet) {
      font-size:14px;
      line-height: 18px;
    }
  }
  &.button-action{
    background-color: $pinkdark;
    border-radius: 3px;
    color: $white;
    display: block;
    font-size:12px;
    font-weight: bold;
    height: 36px;
    margin-bottom: 20px;
    padding: 10px 11px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    &:hover{
      background-color: $pinklight;
    }
    &:active{
      background-color: $pinkdark;
    }
    .icons{
      font-size: 18px;
      vertical-align: text-bottom;
      padding-right: 5px;
    }
  }
}
p{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}
// BEGIN OVERRIDE LR defaults
#wrapper {
  padding-top: 0;
}
.container-fluid {
  padding: 0;
}
// END OVERRIDE LR defaults

.cont-wrapper{
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  .content{
    @include clearfix();
    display: block;
    margin:0 auto;
    max-width: 1024px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    &.content-big{
      max-width: 1280px;
      padding: 0;
    }
    /* Page with sidebar */
    .sidebar{
      position: relative;
      display: block;
      float: left;
      width: 25%;
      padding-right: 5%;
      margin-bottom: 40px;
      @include breakpoint($medium) {
        width: 35%;
      }
      @include breakpoint($tablet) {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
      }
    }
    .content-ws{
      position: relative;
      display: block;
      float: left;
      width: 75%;
      margin-bottom: 40px;
      @include breakpoint($medium) {
        width: 65%;
      }
      @include breakpoint($tablet) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    /* Breadcrumb & Title */
    .breadcrumb{
      color: #9c9e9f;
      font-size: 12px;
      line-height: 15px;
      margin: 15px 0 25px 0;
      a{
        color: #9c9e9f;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        margin: 15px 0 25px 0;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    /* Field Body */
    .field-body{
      position: relative;
      display: block;
      margin-bottom: 25px;
    }
  }
  p{
    color:$greymedium;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    @include breakpoint($tablet) {
      font-size:14px;
      line-height: 18px;
    }
    strong{
      font-weight: bold;
    }
  }
}

// AVISO LEGAL
.numbered-lists {
  counter-reset: this-list-counter;
  display: block;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  dt {
    padding: 0 15px 0 0;
    &:first-child{
      &:before{
        margin-top: 0;
      }
    }
    &:before {
      border: 3px solid $pink;
      border-radius: 50%;
      clear: both;
      color: $pink;
      content: counter(this-list-counter);
      counter-increment: this-list-counter;
      display: block;
      float:left;
      font-size: 20px;
      font-weight: bold;
      height: 41px;
      line-height: 35px;
      margin-bottom: 20px;
      margin-top:25px;
      position: relative;
      text-align: center;
      width: 41px;
    }
    p{
      clear: both;
      a{
        color: $pink;
      }
    }
  }
}
.small-item-info {
  width: 100%;
  float: left;
  p {
    font-size: 14px;
  }
}