#header{
  position: relative;
  display: block;
  overflow: visible;
  width: 100%;
  #topbar{
    background-color: $grey;
    padding: 9px 0;
    overflow: visible;
    height: 39px;
    @include breakpoint($tablet) {
      display: none;
    }
    .content{
      overflow: visible;
    }
      .links-topbar{
        li{
          position: relative;
          display: block;
          float: left;
          padding-right: 22px;
          span{
            position: relative;
            display: block;
            text-align: left;
            float: left;
            color:$greymedium;
            padding-right: 5px;
            font-size: 18px;
          }
          a{
            position: relative;
            display: block;
            text-align: left;
            float: left;
            font-size: 13px;
            color: $greymedium;
            padding-top:5px;
            &:hover{
              text-decoration: underline;
              text-decoration-color: $greymedium;
            }
          }
        }
      }
      .search{
        position: relative;
        display: block;
        float: left;
        margin-right: 10px;
        cursor: pointer;
        .icon-search{
          font-size: 14px;
          line-height: 20px;
          color: $greymedium;
        }
      }
      .languages{
        position: relative;
        display: block;
        float: left;
        ul{
          position: relative;
          display: block;
          li{
            display: block;
            position: relative;
            .portlet-language{
              display: block;
              position: relative;
              .portlet-body{
                display: block;
                position: relative;
                &:hover{
                  span{
                    &:after{
                      content: "\e913";
                    }
                  }
                  a{
                    display: block;
                  }
                }
                span{
                  color: $greydark;
                  cursor: pointer;
                  display: block;
                  font-size: 13px;
                  line-height: 20px;
                  padding: 0 10px 10px 10px;
                  position: relative;
                  text-align: left;
                  text-transform: uppercase;
                  &:after{
                    /* use !important to prevent issues with browser extensions that change fonts */
                    font-family: 'atelecom-icons' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    /* Better Font Rendering =========== */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\e914";
                  }
                }
                a{
                  background-color: $grey;
                  color: $greymedium;
                  cursor: pointer;
                  display: none;
                  font-size: 13px;
                  line-height: 20px;
                  padding: 10px;
                  position: absolute;
                  top: 30px;
                  right:0;
                  text-align: center;
                  text-transform: uppercase;
                  z-index: 9999;
                  &:hover{
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
  }
  #head{
    background: $fadepinkleft; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $fadepinkleft , $fadepinkright); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $fadepinkleft, $fadepinkright); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $fadepinkleft, $fadepinkright); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $fadepinkleft , $fadepinkright); /* Standard syntax */
    padding: 0;
    height: 72px;
    .logo{
      position: relative;
      display: block;
      overflow: hidden;
      float: left;
      img{
        position: relative;
        display: block;
      }
    }
    #nav-main{
      position: relative;
      display: block;
      float: left;
      @include breakpoint($tablet) {
        display: none;
      }
      li{
        position: relative;
        display: block;
        float: left;
        padding: 20px 15px;
        &:hover{
          font-weight: bold;
          border-bottom: 8px solid $greydark;
        }
        &.current{
          border-bottom: 8px solid $greydark;
          a{
            font-weight: bold;
          }
        }
        &:first-child{
          a{
            border-left:0;
          }
        }
        a{
          position: relative;
          display: block;
          text-align: left;
          font-size: 18px;
          line-height: 27px;
          color: $white;
          padding: 0;
          /*FALTA EL BORDE SEPARADOR*/
        }
      }
    }
    .button-alerts{
      @include breakpoint($tablet) {
        display: none;
      }
    }
    .button-login-client{
      position: relative;
      display: block;
      float: left;
      border-radius: 3px;
      background-color: $greydark;
      color: $white;
      height: 36px;
      padding: 8px 11px;
      margin:18px 5px;
      text-align: left;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: bold;
      @include breakpoint($tablet) {
        padding: 8px 5px;
        font-size: 12px;
      }
      .icons{
        position: relative;
        display: block;
        text-align: left;
        float: left;
        font-size: 20px;
        line-height: 22px;
        color: $white;
        padding-right: 5px;
      }
    }
    .menu-mobile{
      float: left;
      margin: 23px 10px;
      position: relative;
      display: none;
      color: $white;
      @include breakpoint($tablet) {
        display: block;
      }
      .icon-menu{
        display: block;
        font-size: 20px;
        height: 26px;
        line-height: 25px;
        position: relative;
      }
    }
  }
  #nav-main-mobile{
    background-color: $grey;
    display: none;
    @include breakpoint($tablet) {
      display: block;
    }
    ul{
      li{
        @include span(6 of 12 last);
        float:left;
        &.current{
          a{
            font-weight: bold;
            border-bottom: 8px solid $greydark;
          }
        }
        &:hover{
          font-weight: bold;
          color: $greydark;
        }
        &:first-child{
          a{
            border-left:0;
          }
        }
        a{
          color: $greymedium;
          display: block;
          font-size: 18px;
          height: 50px;
          line-height: 27px;
          margin: 0 auto;
          padding: 8px 0;
          position: relative;
          text-align: center;
          width: 50%;
          &:hover{
            border-bottom: 8px solid $greydark;
          }
        }
      }
    }
  }

  #nav-private, #nav-business{
    background-color: $greydark;
    padding: 0;
    overflow: visible;
    .content{
      overflow: visible;
    }
  }

  .menu-mobile {
    display: none;
    padding: 0;
  }

  .menu {
    > ul {
      margin: 0 auto;
      width: 100%;
      list-style: none;
      padding: 0;
      position: relative;
      //position: relative;
      /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:before,
      &:after {
        content: "";
        display: table;
      }
      &:after {
        clear: both;
      }
      /*LEVEL 0*/
      > li {
        float: left;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
        @include span(3 of 12);
        &.active{
          .title-level-1{
            color: $pink;
          }
        }
        &.last{
          @include last;
        }
        &:hover{
          background-color: $grey;
        }
        .title-level-1{
          position: relative;
          display: block;
          text-align: center;
          padding: 14px 0;
          font-size: 14px;
          line-height: 16px;
          color: $white;
          font-weight: bold;
          &:hover{
            color: $greydark;
          }
          .icons{
            font-size: 20px;
            color: $pink;
            padding-right: 5px;
          }
        }
        a {
          text-decoration: none;
          padding: 1.5em 3em;
          display: block;
        }
        &:hover {
          background: #f0f0f0;
        }
        > ul {
          display: none;
          width: 100%;
          background-color: $grey;
          padding: 20px;
          position: absolute;
          z-index: 99;
          left: 0;
          margin: 0;
          list-style: none;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          &:before,
          &:after {
            content: "";
            display: table;
          }
          &:after {
            clear: both;
          }
          /* LEVEL 1 */
          > li {
            margin: 0;
            list-style: none;
            width: 25%;
            padding: 0 5%;
            background: none;
            float: left;
            &.banners-mmenu{
              clear: both;
              display: block;
              float: left;
              position: relative;
              width: 100%;
              ul{
                li {
                  display: block;
                  float: left;
                  position: relative;
                  width: 25%;
                  a {
                    display: block;
                    margin: 0;
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    img {
                      display: block;
                      margin: 0 auto;
                      overflow: hidden;
                      position: relative;
                      width: 220px;
                    }
                  }
                }
              }
            }
            a {
              color:$greydark;
              padding: 0;
              display: block;
              .menu-title{
                position: relative;
                display: block;
                width:100%;
                color:$greydark;
                text-align: left;
                font-size: 14px;
                line-height: 20px;
                font-weight: bold;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            > ul {
              display: block;
              padding: 0;
              margin: 10px 0 0;
              list-style: none;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              &:before,
              &:after {
                content: "";
                display: table;
              }
              &:after {
                clear: both;
              }
              > li {
                float: left;
                width: 100%;
                padding: 10px 0;
                margin: 0;
                a {
                  border: 0;
                  position: relative;
                  display: block;
                  width:100%;
                  color: $greydark;
                  text-align: left;
                  font-size: 14px;
                  line-height: 18px;
                  font-weight: normal;
                  &:hover{
                    text-decoration:underline;
                  }
                }
              }
            }
          }
          &.normal-sub {
            width: auto;
            left: auto;
            padding: 10px 20px;
            > li {
              width: 100%;
              a {
                border: 0;
                padding: 1em 0;
              }
            }
          }
        }
      }
    }
  }


  /* ––––––––––––––––––––––––––––––––––––––––––––––––––
  Mobile style's
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media only screen and (max-width: 720px) {
    .menu-container {
      width: 100%;
    }
    .menu-mobile {
      display: block;
    }
    .menu-dropdown-icon {
      &:before {
        display: block;
      }
    }
    .menu {
      > ul {
        display: none;
        > li {
          width: 100%;
          float: none;
          display: block;
          .title-level-1 {
            padding: 1.5em;
            width: 100%;
            display: block;
            text-align: left;
            cursor: pointer;
          }
          > ul {
            position: relative;
            &.normal-sub {
              width: 100%;
            }
            > li {
              float: none;
              width: 100%;
              margin-top: 20px;
              &:first-child {
                margin: 0;
              }
              &.banners-mmenu{
                display: none;
              }
              > ul {
                position: relative;
                display: none;
                > li {
                  float: none;
                }
              }
            }
          }
        }
      }
      .show-on-mobile {
        display: block;
      }
    }
  }
}