/* REGION BANNER */
#region-banner-home{

}

/* REGION CAROUSEL PRODUCTS*/
#region-carousel-products{

}

/* FAKE REGION PACK */
#region-pack{
  background-color: $white;
  .i-region-pack{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1440px;
    width:100%;
  }
}

/* REGION TV */
#region-tv{
  .bg-region{
    width:100%;
    height: 100%;
    position: absolute;
  }
  .content{
    padding: 65px 0;
    .i-yomvi{
      position: relative;
      display: block;
      width:100%;
      max-width: 1092px;
      margin: 0 auto;
      padding: 0 20px;
    }
    .info-tv{
      @include push(2 of 12);
      @include span(5 of 12);
      text-align: left;
      color: $white;
      @include breakpoint($tablet) {
        @include span(12 of 12 last);
        text-align: center;
      }
      .title{
        font-size: 48px;
        line-height: 53px;
        font-weight: bold;
        margin-bottom: 10px;
        @include breakpoint($tablet) {
          font-size: 30px;
          line-height: 35px;
        }
        @include breakpoint($mobile) {
          font-size: 20px;
          line-height: 25px;
        }
      }
      .subtitle{
        font-size: 24px;
        line-height: 30px;
        @include breakpoint($tablet) {
          font-size: 20px;
          line-height: 25px;
        }
        @include breakpoint($mobile) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    .info-tv-price{
      @include push(1 of 12);
      @include span(3 of 12);
      @include breakpoint($tablet) {
        @include span(12 of 12);
        text-align: center;
        margin-top: 30px;
      }
      span{
        font-size: 30px;
        line-height: 34px;
        position: relative;
        display: block;
        text-align: center;
        font-weight: bold;
        color: $white;
      }
      .price{
        font-size: 52px;
        line-height: 60px;
        position: relative;
        display: block;
        text-align: center;
        margin-bottom:20px;
      }
      .price-text{
        font-size: 30px;
        line-height: 34px;
        position: relative;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: $white;
      }
    }
    .button-pink{
      margin-top: 10px;
      @include breakpoint($tablet) {
        margin-top: 0;
      }
    }
  }

}

/* FAKE REGION TVPROGRAM */
#region-tvprogram{
  background-color: #eee;
  .i-region-tvprogram{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1440px;
    width:100%;
  }
}

/* REGION SIGNUP */
#region-signup{
  padding: 52px 0;
  background-color: $greydark;
  ul{
    margin-top: 20px;
    li{
      @include span(3 of 12);
      float:left;
      margin-bottom: 20px;
      @include breakpoint($tablet) {
        @include span(6 of 12 last);
        float:left;
      }
      @include breakpoint($mobile) {
        @include span(12 of 12 last);
      }
      &.last{
        @include last;
        div{
          border:none;
        }
      }
      .element-signup{
        position: relative;
        display: block;
        overflow: hidden;
        text-align: center;
        font-size: 21px;
        line-height: 24px;
        color: $white;
        border-right: 1px solid #cfd1d2;
        padding: 0 15px;
        @include breakpoint($mobile) {
          border:none;
        }
        .icons{
          font-size: 60px;
          color: #cfd1d2;
          padding-right: 10px;
          text-align: center;
          @include breakpoint($tablet) {
            font-size: 30px;
          }
        }
        span{
          position: relative;
          display: block;
          margin-top: 20px;
          text-align:center;
          @include breakpoint($tablet) {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

/* FAKE REGION HELP */
#region-help{
  background-color: $white;
  .i-region-help{
    position: relative;
    display: block;
    margin: 50px auto 110px;
    width:100%;
    max-width: 892px;
  }
}