.slider {

  .slides {
    li {
      max-height: 488px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
      }
      .block-container {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        @include breakpoint($intermedio) {
          position: relative;
          display: block;
          width: 100%;
          left: auto;
          top: auto;
        }
        .inner-container {
          background: white;
          margin: 0 auto;
          max-width: 1080px;
          position: relative;
          width: 100%;

          .custom-htmlfree {
            float: left;
            width: 100%;

            .position-left,
            .position-right {
              background-color: white;
              margin-top: 6%;
              padding: 20px;
              width: 250px;
              @include breakpoint($intermedio) {
                float: none;
                width: 100%;
                margin: 0;
              }
            }
            .position-left { float: left; }
            .position-right { float: right; }

            .field-title {
              color: $pink;
              font-size: 21px;
              font-weight: 600;
              margin-bottom:16px;
            }
            .field-body {
              color: $greymedium;
              font-size: 18px;

            }

          }
        }
      }
    }
  }

  .flex-direction-nav {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    width: 100%;
  }

  .flex-direction-nav a {
    opacity: 1 !important;
    top: -242px;
  }
  .flex-direction-nav .flex-next,
  .flex-direction-nav .flex-prev {
    color: transparent;
    opacity: 1 !important;
    text-shadow: none;
    &:before {
      content: '';
    }
  }
  .flex-direction-nav .flex-next {
    background: url("../images/icon-arrow-r.png") no-repeat 0 0 transparent;
    right: 10px !important;
  }
  .flex-direction-nav .flex-prev {
    background: url("../images/icon-arrow-l.png") no-repeat 0 0 transparent;
    left: 10px !important;
  }


}


.small-banner {
  background-color: $grey;
  padding: 30px 0 26px 0;
  width: 100%;


  .slider-four.small {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;

    .item {
      color: $pink;
      font-size: 21px;
      margin: 0 auto;
      text-align: center;
      width: 80%;

      &.picture {
        margin: 0 auto 10px auto;
        min-height: 52px;
        vertical-align: baseline;
      }
      a {
        color: $pink;
        text-decoration: none;
      }
    }
  }


  .flex-direction-nav {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    width: 100%;
  }

  .flex-direction-nav a {
    opacity: 1 !important;
    top: -34px;
  }
  .flex-direction-nav .flex-next,
  .flex-direction-nav .flex-prev {
    color: transparent;
    opacity: 1 !important;
    text-shadow: none;
    &:before {
      content: '';
    }
  }
  .flex-direction-nav .flex-next {
    background: url("../images/icon-arrow-r.png") no-repeat 0 0 transparent;
    right: -69px !important;
  }
  .flex-direction-nav .flex-prev {
    background: url("../images/icon-arrow-l.png") no-repeat 0 0 transparent;
    left: -69px !important;
  }
}