#main-content {

  //NEWS PAGE
  .news-paginator {
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
  }
  .news-loop {
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
    .news-loop-item {
      position: relative;
      display: block;
      clear: both;
      overflow: hidden;
      padding: 35px 0;
      border-top: 1px solid $grey;
      &:first-child {
        border-top: none;
      }
      &.news-only-text {
        .news-item-content {
          width: 100%;
          clear: both;
          float: none;
          .news-item-tags {
            margin-top: 0;
          }
        }
      }
      .news-item-img {
        position: relative;
        display: block;
        overflow: hidden;
        float: left;
        width: 34%;
        margin-right: 3%;

        @include breakpoint($mobile) {
          width: 100%;
          margin: 0;
          float: none;
          clear: both;
        }
        img {
          position: relative;
          display: block;
          width: 100%;
        }
      }
      .news-item-content {
        position: relative;
        display: block;
        overflow: hidden;
        float: left;
        width: 62%;
        @include breakpoint($tablet) {
          width: 100%;
          float: none;
          clear: both;
          padding-left: 0;
        }
        .news-item-tags {
          position: relative;
          display: block;
          overflow: hidden;
          clear: both;
          //margin-top: 30px;
        }
        .news-item-date {
          position: relative;
          display: block;
          overflow: hidden;
          clear: both;
          color: $gris3;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          span {
            color: $gris3;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
          }
        }
        .news-item-title {
          position: relative;
          display: block;
          overflow: hidden;
          clear: both;
          color: $pink;
          font-size: 18px;
          line-height: 22px;
          text-transform: uppercase;
          h3 {
            color: $pink;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            font-weight: normal;
          }
        }
        .news-item-excerpt {
          position: relative;
          display: block;
          overflow: hidden;
          clear: both;
          color: $products-fontcolor;
          font-size: 14px;
          line-height: 18px;
          p {
            color: $products-fontcolor;
            font-size: 14px;
            line-height: 18px;
          }
        }
        .news-item-readmore {
          position: relative;
          display: block;
          overflow: hidden;
          clear: both;
          color: $pink;
          font-size: 16px;
          line-height: 20px;
          a {
            color: $pink;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }

  //NEWS DETAIL
  .news-detail {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 30px;
    //CONTENT NEWS DETAIL
    .content-ws {
      padding-right: 10% !important;
      @include breakpoint($mobile) {
        padding: 0 !important;
        clear: both;
      }
      .news-data {
        font-family: Roboto, SansSerif;
        color: $gris3;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
      }
      .news-title {
        color: $pink;
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        margin: 10px 0;
      }
      .news-intro {
        font-family: Roboto, SansSerif;
        font-weight: 300;
        color: $greydark;
        font-size: 18px;
        line-height: 28px;

        &:after {
          border-bottom: 2px solid #D30572;
          content: "";
          display: block;
          height: 2px;
          padding-top: 15px;
          position: relative;
          text-align: center;
          width: 130px;
          margin-bottom: 36px;
          margin-top: 15px;
        }
      }
      .slider-gallery {
        img {
          width: 100%;
        }
      }
      .content-inner-container {
        margin-top: 50px;
        @include breakpoint($mobile) {
          margin-top: 20px;
        }
        .vertical-social {
          position: relative;
          display: block;
          overflow: hidden;
          float: left;
          width: 10%;
          text-align: center;
          padding-left: 15px;
          @include breakpoint($mobile) {
            width: 100%;
            padding: 0;
            float: none;
            clear: both;
            margin: 0 0 20px 0;
          }
          ul {
            width: 100%;
          }
          li {
            position: relative;
            display: block;
            overflow: hidden;
            margin-bottom: 10px;
            &:before {
              content: '';
              display: none;
            }
            @include breakpoint($mobile) {
              float: left;
              margin: 0 10px;
            }
          }
          .icons:before {
            font-size: 30px;
          }
          .icon-goto:before {
            font-size: 15px;
            color: $greymedium;
          }
        }
        .full-content {
          position: relative;
          display: block;
          overflow: hidden;
          float: left;
          width: 90%;
          padding-left: 40px;
          @include breakpoint($mobile) {
            width: 100%;
            padding: 0;
            float: none;
            clear: both;
          }
          h3 {
            color: $greydark;
          }
          p {
            color: #greydark;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
          }
        }
      }
    }
    //SIDEBAR NEWS DETAIL
    .sidebar {
      padding-right: 0 !important;
      @include breakpoint($mobile) {
        width: 100%;
        padding: 0;
        float: none;
        clear: both;
      }
      h5 {
        position: relative;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        color: $greydark;
        font-size: 14px;
        line-height: 18px;
        padding: 30px 0;
        margin: 0;
        border-top: 1px solid $grey;
      }
      ul.list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0 0 20px 0;
        li {
          position: relative;
          display: block;
          clear: both;
          margin-bottom: 20px;
          color: $greydark;
          font-size: 14px;
          line-height: 18px;
        }
      }
      ul.list-last-new {
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        li {
          float: left;
          width: 100%;
          margin-bottom: 20px;
          .image-block {
            float: left;
            margin-right: 14px;
            img {
              width: 95px;
            }
          }
          .date-new {
            font-family: Roboto, SansSerif;
            color: $gris3;
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 10px 0;
            text-transform: uppercase;
          }
          a {
            color: $greydark;
            font-size: 14px;
            line-height: 18px;
          }
        }

      }
      ul.list-tags {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0 0 20px 0;
        li {
          position: relative;
          display: block;
          float: left;
          margin-bottom: 10px;
          color: $greydark;
          background-color: $grey;
          padding: 8px 12px;
          margin-right: 12px;
          text-decoration: none;
          font-size: 14px;
          line-height: 16px;
          a {
            text-decoration: none;
            color: $greydark;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
  .tags,
  .categories {
    font-size: 14px;
    h5 {
      text-transform: uppercase;
      color: $greydark;
      margin-top: 30px;
      font-size: 14px;
      line-height: 18px;
    }
    li {
      position: relative;
      display: block;
      float: left;
      color: $greydark;
      background-color: $grey;
      padding: 8px 12px;
      text-decoration: none;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px;

      &:first-child {
        margin-left: 0;
      }

      &:before {
        content: '' !important;
        display: none !important;
      }
      a {
        text-decoration: none;
        color: $greydark;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

}