#main-content {

  .content-wide {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .slider-corporate-home {
    @include breakpoint ($mobile) {
      height: 404px;
    }
  }

  .slider-corporate-home,
  .slider-sponsors {
    width: 100%;
    position: relative;
    margin-bottom: 0;
    @include breakpoint ($mobile) {
      margin-bottom: 10px;
    }

    .slide-item {
      height: 412px;
      @include breakpoint ($tablet) {
        height: 300px;
      }
      @include breakpoint ($mobile) {
        height: 400px;
      }

      .img-slider {
        position: relative;
        width: 100%;

        .slider-link {
          position: absolute;
          z-index:700;
          width: 100%;
          height: 412px;
        }

        img {
          margin: 0 auto;
          height: 412px;
          &.righted {
            margin: 0 36%;
          }
          @include breakpoint ($mobile) {
            object-fit: cover;
          }
        }
        .difuminador {
          position: absolute;
          top: 0;
          height: 412px;

          .difuminado-left {
            position: absolute;
            width: 40px;
            height: 412px;
            left: 0;
          }
          .difuminado-right {
            position: absolute;
            width: 40px;
            height: 412px;
            right: 0;
          }
        }
      }
      &.full-size {
        .img-slider {
          width: 100%;

          img {
            width: 100%;
            height: 412px;
          }
          .difuminador .difuminado-left {
            .difuminador .difuminado-right {
              display: none;
            }
          }
        }
      }

      /* Permalink - use to edit and share this gradients: http://colorzilla.com/gradient-editor/#1e5799+0,000000+0,7db9e8+100&1+0,0+100 */
      &.preset-white {
        background-color: #f4f4f4;
        .img-slider { background-color: #f4f4f4; }
        .difuminador .difuminado-left {
          background: -moz-linear-gradient(left, rgba(244, 244, 244, 1) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(244, 244, 244, 1) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(244, 244, 244, 1) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#000000', GradientType=1); /* IE6-9 */
        }
        .difuminador .difuminado-right {
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(244, 244, 244, 1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(244, 244, 244, 1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(244, 244, 244, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f4f4f4', GradientType=1); /* IE6-9 */
        }
      }

      &.preset-black {
        background-color: #000000;
        .img-slider { background-color: #000000; }
        .difuminador .difuminado-left {
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1); /* IE6-9 */
        }
        .difuminador .difuminado-right {
          background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1); /* IE6-9 */
        }
      }
    }

    .width-limiter {
      position: absolute;
      width: 1900px; /* CHANGE to WIDHT in JS */
      margin: 0 auto;
      z-index: 600;
      height: 400px;
      top: 0;
    }
    .left-block {
      position: absolute;
      left: 0;
      width: 320px;
      top: 6%;
      padding: 2%;
      line-height: 22px;
    }
    .right-block {
      position: absolute;
      right: 0;
      width: 320px;
      top: 6%;
      padding: 2%;
      line-height: 22px;
    }
    ul.slick-dots {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;

      li {
        display: inline-block;
        width: fit-content;
        &:before {
          content: '';
          display: none;
        }
        button {
          background-color: $grey;
          width: 50px;
          height: 10px;
          border: medium none;
          margin: 0 5px 0 0;
          padding: 6px 20px;
          color: transparent;
          font-size: 0;
          line-height: 0;
          outline: none;
          border-radius: 0;
        }
        &.slick-active {
          button {
            background-color: $gris3;
          }
        }
      }
    }
    // Excepciones
    .left-block .left-block-content {
      a.button-pink {
        font-size: 18px;
        margin-left: 24px;
        margin-top: 194px;
        padding: 10px 20px;
      }
    }

    .right-block {

      .appstore {
        width: 126px;
        margin-top: 56px;
        margin-right: 48px;

        img {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }

    // All kind of SLIDES
    .slide-title {
      color: $pink;
      font-family: Roboto, SansSerif;
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    .slide-message {
      color: white;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .block-header {
    clear: both;
    float: none;
    height: 80px;
    .readmore {
      line-height: 40px;
      @include breakpoint ($mobile) {
        margin-bottom: 14px;
      }
    }
  }
  .home-subtile {
    float: left;
    font-size: 36px;
    font-weight: 300;
    margin-right: 20px;
    @include breakpoint ($mobile) {
      font-size: 24px;
      float: none;
      width: 100%;
    }
  }

  /* NEWS */
  .news-featured {
    width: 32%;
    margin-right: 2%;
    float: left;
    @include breakpoint ($tablet) {
      width: 100%;
      margin: 0 0 4% 0;
    }
    img {
      width: 100%;
      @include breakpoint ($tablet) {width: 48%; margin-right: 2%; float: left; }
      @include breakpoint ($mobile) { width: 100%; }
    }
    .date-home {
      margin: 14px 0;
    }
    .new-featured-title {
      text-transform: uppercase;
    }
  }

  .news-list {
    width: 32%;
    float: left;
    margin-right: 2%;
    @include breakpoint ($tablet) {
      width: 100%;
      margin: 0 0 2% 0;
    }

    .item-list {
      font-size: 14px;
      float: left;
      width: 100%;
      margin-bottom: 20px;
      color: $products-fontcolor;
      a {
        font-size: 14px;
        line-height: 18px;
        color: $products-fontcolor;
        font-weight: 300;
      }

      .image-block {
        float: left;
        width: 34%;
        margin-right: 4%;
        img {
          width: 100%;
        }
        @include breakpoint ($tablet) {
          width: 24%;
        }
      }
      .news-mini-content {
        float: left;
        width: 62%;

      }
    }
  }

  .home-small-banner {
    width: 32%;
    float: left;
    img {
      width: 100%;
    }

    @include breakpoint ($tablet) {
      width: 100%;
      img {
        width: auto;
      }
    }
  }

  /* AGENDA */
  .agenda-item {
    width: 100%;
    float: left;
    margin-bottom: 26px;

    .agenda-date {
      float: left;
      width: 98px;
      margin-right: 16px;
      background-color: #f4f4f4;
      color: $pink;
      padding: 10px;

      .data-day {
        width: 100%;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        font-weight: bold;
      }
      .data-month {
        width: 100%;
        font-size: 30px;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .agenda-info {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
      margin-top: 14px;
      color: $products-fontcolor;
    }

    &.featured {
      background-color: #f4f4f4;
      .agenda-date {
        width: 120px;
        padding: 20px;
        .data-day {
          width: 100%;
          font-size: 60px;
          line-height: 50px;
          text-align: center;
          font-weight: bold;
        }
      }
      .agenda-info {
        margin-top: 26px;
      }
    }
  }

  .date-home {
    font-family: Roboto, SansSerif;
    color: $gris3;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    @include breakpoint($tablet) {
      margin: 0 0 4px 0;
    }
  }
  .new-featured-title a {
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
  }
  .excerpt {
    color: $products-fontcolor;
    font-family: Roboto, SansSerif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 90%;
  }
  .corporate .content-wide {
    margin-bottom: 90px;
  }

  /* La nostra activitat */
  .home-activity {

    .home-subtile {
      margin-bottom: 60px;
      @include breakpoint($tablet) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }

  /* Slider Sponsors */
  .slider-sponsors {
    img {
      height: 340px;
      width: 100%;
      @include breakpoint($tablet) {
        height: inherit;
      }
    }
  }
  .bloc-exceprt {
    .excerpt {
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 6px;
      .readmore {
        font-size: 14px;
        text-transform: none;
      }
    }
  }
  .frontpage .shortcode-container {
    padding: 10px 0;
  }
  #main-content ul.slick-dots li {
    margin-bottom: 0;
    &:before {
      display: none;
    }
  }

  .highlighted-block-home {
    margin-top: 80px;
    @include breakpoint ($mobile) {
      margin-top: 0;
    }
    img {
      width: 100%;
      @include breakpoint ($tablet) {
        float: left;
        width: 48%;
        margin-right: 2%;
      }
      @include breakpoint ($mobile) {
        float: left;
        width: 100%;
      }
    }

    .highlighted-title {
      font-family: $titillium;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      color: $pink;
      @include breakpoint ($tablet) { text-align: left; }
      @include breakpoint ($mobile) { text-align: center; }
    }
    .highlighted-description {
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: $products-fontcolor;

      @include breakpoint ($tablet) { text-align: left; }
      @include breakpoint ($mobile) { text-align: center; }
    }
  }

  .portlet-journal-content .journal-content-article .slider-corporate-home img {
    max-width: inherit;
  }
}