// ONLY FOR PAGE PRIVATE AREA HOME
.cont-wrapper.private-area {
  // SLIDERS PREMIERE AND SPORTS
  .slider {
    width: 640px;
    @include breakpoint($mobile) {
      margin: 0;
      width: 100%;
    }
    .main-image {
      background: grey;
      height: 172px;
      width: 124px;
    }
    // Reflection CROSS Broser
    .image-block {
      height: 276px;
      outline: none;
      overflow: hidden;
      width:124px;
      //margin: 0 7px;

      &[aria-hidden="true"] .main-image {
        a { cursor: default; pointer-events: none; }
        img { opacity: 0.4; }
      }
    }
    .reflection { position:relative; }
    .reflection img {
      filter: flipv;
      filter: alpha(opacity='20');
      opacity:0.20;
      transform: scaleY(-1);
      -moz-transform: scaleY(-1);
      -ms-transform: scaleY(-1); -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
    }
    .overlay { background-image: -moz-linear-gradient( center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%); background-image:   -o-linear-gradient( rgba(255,255,255,0) 25%, rgb(255,255,255) 40%); background-image:     -webkit-gradient( linear, left bottom, left top, color-stop(0.60, rgb(255,255,255)), color-stop(0.75, rgba(255,255,255,0))); filter: progid:DXImageTransform.Microsoft.Gradient( gradientType=0, startColor=0, EndColorStr=#ffffff); height:432px;
      height: 130px;
      left:0px;
      position:absolute;
      top:0px;
      width:428px;
    }
    // Sport-Slider
    .text-info {
      width: 164px;
      a {
        color: $greydark;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
      }
    }
    button {
      background: none transparent;
      border: medium none;
      cursor: pointer;
      font-size: 0;
      outline: none;
      position: absolute;
      z-index: 5;

      &.slick-prev {
        left: 20px;
        &:before {
          color: white;
          content: "\e930";
          font-family: 'atelecom-icons' !important;
          font-size: 28px;
          padding-right: 8px;
        }
      }
      &.slick-next {
        right: 20px;
        &:before {
          color: white;
          content: "\e92e";
          font-family: 'atelecom-icons' !important;
          font-size: 28px;
          padding-right: 8px;
        }
      }
    }
    .slider-premiere {
      img {
        height: 172px;
        width: 124px;
      }
      button {
        top: 28%;
      }
    }
    .slider-sports {
      button {
        top: 20%;
      }
    }
  }
  // Right
  .sidebar {
    padding-right: 0;
  }
}

// BANNER APP ANDORRA TELECOM
#banner-app {
  background: url("../images/GetAppBannerBG.png") no-repeat scroll right center $pink;
  color: white;
  float: left;
  font-weight: bold;
  height: 474px;
  margin-top: 88px;
  width: 100%;
  @include breakpoint($tablet) {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  @include breakpoint($mobile) {
    width: 80%;
  }
  .block-title {
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 220px;
    padding: 22px;
    width: 100%;
    @include breakpoint($intermedio) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 250px;
    }
  }
  .block-cta {
    font-size: 14px;
    line-height: 20px;
  }
  .full-centered img {
    width: auto;
  }
}

// TABS VERTICAL 40/60
.shortcode-container .ui-tabs.tabs-vertical{
  .ui-tabs-nav{
    display: block;
    float: left;
    position: relative;
    width: 40%;
    .ui-tabs-tab {
      width: 100%;
      &:before {
        display: none;
      }
      &.ui-tabs-active {
        background-color: #f7f7f7;
        border-right: none;
        margin: 0;
        &:after {
          border-color: transparent transparent transparent #f7f7f7;
          border-style: solid;
          border-width: 14px 0px 14px 14px;
          content: "";
          height: 0;
          position: absolute;
          top: 30%;
          -webkit-transform: rotate(360deg);
          width: 0;
          z-index: 5;
        }
        .ui-tabs-anchor{
          color: $black;
        }
      }
      .ui-tabs-anchor {
        border-bottom: 1px solid $products-bggrey;
        color: $black;
        line-height: 25px;
        margin: 0 2%;
        outline: none;
        padding: 15px 10px;
        width: 96%;
        .icons{
          color: $pink;
          font-size: 25px;
          padding-right: 10px;
        }
      }
      a {
        width: 100%;
      }
    }
    .link-in-tab {
      background-color: transparent;
      color: $pink;
      display: block;
      float: left;
      font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      margin: 15px 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      text-decoration: underline;
    }
  }
  .ui-tabs-panel {
    background-color: transparent;
    border: 2px solid $products-bggrey;
    display: block;
    float: right;
    padding: 20px 30px;
    width: 60%;
  }
  .link-to-consumption {
    clear: both;
    display: block;
    padding-left: 38px;
    position: relative;
    text-decoration: underline;
  }
}
.only-mobile .link-to-consumption {
  margin-top: 40px;
}
.cont-wrapper.slider-container .content {

  @include breakpoint($mobile) {
    padding: 0;
  }
}