#main-content {

  .list-product-forfets {
    ul {
      li:before {
        content: '';
        display: none;
        margin-left: 0;
      }
      .forfets-element {
        position: relative;
        display: block;
        overflow: hidden;
        padding: 25px 0;
        margin-top: 18px;
        margin-left: 0;
        &.odd {
          background-color: $greysoft;
        }
        &.even {
          background-color: $white;
        }
        .content {
          min-height: 200px;
        }
        .reveal-info {
          display: none;
          @include breakpoint($mobile) {
            display: block;
          }
          width: 60%;
          text-align: center;
          font-size: 16px;
          margin: 0 auto;
          cursor: pointer;
          padding: 22px 0;
          &:before {
            font-family: 'atelecom-icons' !important;
            speak: none;
            color: $pink;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\e931';
            margin-right: 10px;
          }
          &:after {
            font-family: 'atelecom-icons' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: '\e916';
            margin-left: 6px;
            font-size: 20px;
            position: absolute;
          }
          &.opened:before {
            content: '\e92f';
          }
          &.opened:after {
            content: '\e915';
          }
        }
        .expandible-info {
          @include breakpoint($tablet) {
            position: relative;
            display: block;
            overflow: hidden;
          }
          @include breakpoint($mobile) {
            display: none;
            padding: 0 40px;
          }
        }
        .forfets-element-column {
          position: relative;
          display: block;
          float: left;
          width: 20%;
          padding: 22px 6px;
          @include breakpoint($tablet) {
            width: 30%;
          }
          @include breakpoint($mobile) {
            width: 100% !important;
            float: none;
            clear: both;
            padding: 6% 0;
          }
          &.title-forfet {
            position: relative;
            display: block;
            float: left;
            font-size: 21px;
            line-height: 22px;
            color: $pink;
            padding: 0 15px;
            @include breakpoint($tablet) {
              width: 30%;
              //float: none;
              //clear: both;
              text-align: center;
            }
            @include breakpoint($mobile) {
              width: 100%;
              float: none;
              clear: both;
              text-align: center;
            }
            span {
              position: relative;
              display: block;
              float: left;
              margin-top: 12px;
              @include breakpoint($tablet) {
                float: none;
                text-align: center;
                display: inline-block;
              }
              &.big-lonely-title {
                font-size: 50px;
                font-weight: bold;
              }
              &.number-forfet {
                font-size: 72px;
                font-weight: 600;
                line-height: 75px;
                margin-top: 0;
                padding-left: 20px;
              }
            }
          }
          &.data-forfet {
            position: relative;
            display: block;
            overflow: hidden;
            .icons {
              position: relative;
              display: block;
              float: left;
              padding-right: 10px;
              color: $pink;
              font-size: 34px;
              line-height: 30px;
            }
            .data-forfet-info {
              width: 144px;
              position: relative;
              display: block;
              float: left;
              //margin-top: -8px;
              .data-forfet-title {
                position: relative;
                display: block;
                clear: both;
                color: $pink;
                font-size: 16px;
                line-height: 21px;
              }
              .data-forfet-content {
                position: relative;
                display: block;
                clear: both;
                color: $greydark;
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 10px;
              }
            }
          }
          &.calls-forfet {
            position: relative;
            display: block;
            overflow: hidden;
            .icons {
              position: relative;
              display: block;
              float: left;
              padding-right: 10px;
              color: $pink;
              font-size: 34px;
              line-height: 30px;
            }
            .calls-forfet-info {
              position: relative;
              display: block;
              float: left;
              width: 144px;

              .calls-forfet-title {
                position: relative;
                display: block;
                clear: both;
                color: $pink;
                font-size: 16px;
                line-height: 21px;
              }
              .calls-forfet-content {
                position: relative;
                display: block;
                clear: both;
                color: $greydark;
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 10px;
                strong {
                  font-weight: bold;
                }
              }
            }
          }
          &.sms-forfet {
            position: relative;
            display: block;
            overflow: hidden;
            .icons {
              position: relative;
              display: block;
              float: left;
              padding-right: 10px;
              color: $pink;
              font-size: 34px;
              line-height: 30px;
            }
            .sms-forfet-info {
              width: 144px;
              position: relative;
              display: block;
              float: left;
              .sms-forfet-title {
                position: relative;
                display: block;
                clear: both;
                color: $pink;
                font-size: 16px;
                line-height: 21px;
              }
              .sms-forfet-content {
                position: relative;
                display: block;
                clear: both;
                color: $greydark;
                font-weight: bold;
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 10px;
              }
            }
          }
          &.price-forfet {
            position: relative;
            display: block;
            overflow: hidden;
            color: $pink;
            padding-left: 16px;

            @include breakpoint($tablet) {
              width: 100%;
              float: none;
              clear: both;
              padding-left: 6%;
              text-align: center;
            }
            .price-forfet-price {
              color: $greydark;
              font-weight: bold;
              font-size: 50px;
              line-height: 55px;
              position: relative;
              display: block;
              //float: right;

              @include breakpoint($tablet) {
                float: none;
                text-align: center;
              }
            }
            .price-month {
              font-size: 18px;
              line-height: 22px;
            }
            .button-pink {
              position: relative;
              //display: block;
              clear: both;
              text-align: center;
              @include breakpoint($tablet) {
                //width: 50%;
                margin: 0 auto;
              }
              @include breakpoint($mobile) {
                width: auto;
                margin: 0 auto;
              }
            }
          }
        }

      }
    }
  }

  // HIGHLIGHTLED
  .list-product-forfets ul .forfets-element.highlighted .content {
    background-color: $pink;
    max-width: 1104px;
    padding: 20px 50px 0 50px;
    position: relative;
    @include breakpoint ($intermedio) {
      min-height: 224px;
    }
    @include breakpoint ($mobile) {
      min-height: 224px;
    }

    .reveal-info {
      color: white;
      font-weight: bold;
      &:before {
        color: white;
      }
    }

    .forfets-element-column.title-forfet {
      color: white;
      padding-top: 26px;
      span.number-forfet {
        font-weight: 600;
      }
    }

    .forfets-element-column.data-forfet .icons {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }

    .data-forfet-info {
      .data-forfet-title {
        font-size: 16px;
        font-weight: bold;
        color: white;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 10px;
      }
      .data-forfet-content {
        color: white;
      }
    }

    .forfets-element-column.calls-forfet {
      .icons {
        color: white;
        color: rgba(255, 255, 255, 0.8);
      }
      .calls-forfet-info {
        color: white;
        .calls-forfet-title {
          font-size: 16px;
          font-weight: bold;
          color: white;
          color: rgba(255, 255, 255, 0.8);
          margin-bottom: 10px;
        }
        .calls-forfet-content {
          color: white;
        }
      }
    }

    .forfets-element-column.sms-forfet {
      .icons {
        color: white;
        color: rgba(255, 255, 255, 0.8);
      }
      .sms-forfet-title {
        font-size: 16px;
        font-weight: bold;
        color: white;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 10px;
      }
      .sms-forfet-content {
        color: white;
      }
    }

    .forfets-element-column.price-forfet {
      color: white;

      .price-forfet-price {
        color: white;
      }
      .button-pink {
        background-color: #f8e81c;
        color: $pink;
      }
    }

    // Destacado
    .highlight-message {
      position: absolute;
      background: url('../images/icons/highlighted-forfeit.png') no-repeat scroll 0 top transparent;
      bottom: 0;
      left: 58px;
      color: $pink;
      line-height: 21px;
      font-weight: 600;
      padding: 9px 12px;
      min-width: 220px;

      @include breakpoint ($tablet) {
        left: 2%;
      }
      @include breakpoint ($mobile) {
        display: none;
      }

      .one {
        font-size: 30px;
        line-height: 30px;
      }
      .two {
        font-size: 20px;
      }
      .three {
        font-size: 14px;
      }
    }
  }
}