.profile-text {
  background-color: #f5f5f5;

  .field-body {
    padding-bottom: 10px;
  }
}
#profile-info {
  margin-bottom: 80px;
  
  .profile-info-element{
    h1{
      margin-bottom: 0;
      color: $greymedium;
      padding-bottom: 25px;
      font-weight: bold;
      @include breakpoint ($mobile) {
        font-size: 26px;
        margin-bottom: 16px;
      }

      .icons{
        padding: 0 22px;
        color: $pink;
        @include breakpoint ($mobile) { padding: 0 10px 0 0; }
      }
    }
    .profile-info-data {
      padding-left: 74px;
      @include breakpoint ($mobile) { padding-left: 0; }
      h4{
        margin: 0 0 5px 0;
        font-size: 16px;
        line-height: 20px;
        color: $greymedium;
      }
      p{
        margin: 0;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
        color: $greymedium;
        &.info-small{
          color:#9c9e9f;
          font-weight: bold;
          font-style: italic;
          font-size: 12px;
          line-height: 15px;
          width: 250px;
          padding: 15px 0;
        }
        &.no-padding{
          padding: 0;
        }
      }
      a.button-pink{
        float: left;
        margin: 0;
      }
      select{
        width: auto;
        min-width: 190px;
        margin-bottom: 25px;
      }
      &.switcher {
        p { padding-bottom: 0; }
      }
    }
  }
}