.cont-wrapper {
  &.page-client-products {
    background-color: #f5f5f5;
    padding-bottom: 40px;
    a.button-pink {
      position: relative;
      display: block;
      float: left;
      width: 111px;
      margin-left: 10px;
      margin-top: 53px;
      @include breakpoint ($mobile) {
        margin-top: 12px;
      }
    }
  }
  &.result-client-products {
    .services-selector {
      position: relative;
      display: block;
      clear: both;
      margin: 40px 0;
      @include breakpoint ($mobile) {
        margin: 5px 0;
      }

      .services-element {
        position: relative;
        display: block;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        clear: both;
        background-color: $greysoft;
        padding: 25px 40px;
        margin-bottom: 20px;

        @include breakpoint ($mobile) {
          padding: 8px;
        }

        .services-title {
          position: relative;
          display: block;
          float: left;
          width: 50%;
          text-align: center;
          @include breakpoint($mobile) {
            width: 60%;
          }
          .icons {
            position: relative;
            display: block;
            float: left;
            font-size: 35px;
            line-height: 40px;
            color: $pink;
            margin-right: 20px;
            @include breakpoint($mobile) {
              margin: 0;
            }
          }
          p {
            position: relative;
            display: block;
            float: left;
            padding: 0;
            margin: 0;
            line-height: 40px;
            color: $black;
            font-size: 18px;
            font-weight: bold;
            @include breakpoint($mobile) {
              float: none;
              line-height: 40px;
            }
          }
        }
        .services-price {
          position: relative;
          display: block;
          float: right;
          width: 50%;
          p {
            position: relative;
            display: block;
            float: right;
            padding: 0;
            margin: 0;
            line-height: 40px;
            color: $black;
            font-size: 24px;
            font-weight: bold;
            @include breakpoint($mobile) {
              font-size: 32px;
              margin-top: 16px;
            }

            &:after {
              content: '\e931';
              color: $pink;
              font-size: 26px;
              font-family: 'atelecom-icons' !important;
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              margin-left: 24px;
              position: relative;
              top: 2px;
              @include breakpoint($mobile) {
                margin-left: 10px;
              }
            }
          }

          // for .services-price
          @include breakpoint($mobile) {
            width: 40%;
            p {
              font-size: 28px;
              margin: 0;
              &:after {
                margin-left: 10px;
              }
            }
          }
        }

      }
      &.opened {
        .services-price p:after {
          content: '\e92f';
        }
      }
    }
  }
  &.config-client-products {
    .sidebar {
      width: 40%;
      @include breakpoint($tablet) {
        width: 100%;
      }
    }
    .content-ws {
      width: 60%;
      @include breakpoint($tablet) {
        width: 100%;
      }
    }
    h3 {
      color: $greydark;
    }
    .services-container {
      width: 100%;
      float: left;
      margin-top: 22px;
      @include breakpoint ($mobile) {
        margin-top: 12px;
      }
      .switch-checks-list {
        li .info-check span {
          @include breakpoint ($mobile) {
            line-height: 21px;
          }
        }
        .checkbox-custom-switch {
          @include breakpoint ($mobile) {
            clear: both;
            float: left;
          }
        }
      }
    }
    .services-big {
      float: left;
      width: 70%;
    }
    .services-small {
      float: left;
      width: 30%;
      .big {
        font-size: 32px;
        line-height: 56px;
        font-weight: 600;
      }
    }
    .prod-title,
    .prod-description {
      font-size: 26px;
      line-height: 30px;
      font-weight: 600;
    }
    .producte {
      margin-bottom: 24px;

      .icons {
        float: left;
        font-size: 24px;
      }
      .contactat {

      }
    }
    .info-list-producte {
      li {
        margin-bottom: 10px;
      }
    }
    .info-detail-producte {
      font-weight: bold;
      float: right;
      color: $pink;
    }
    .pin-element:before {
      content: '*** ';
      color: $pink;
    }

    .service-items {
      width: 100%;
      li {
        border-top: 1px solid $gris2;
        padding: 14px 0;
        &:last-child {
          border-bottom: 1px solid $gris2;
        }
        .service-item:after {
          content: '\e933';
          color: $pink;
          float: right;
          margin-right: 14px;
          font-family: 'atelecom-icons' !important;
          font-size: 12px;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
    .config-box {
      float: left;
      width: 100%;
      position: relative;
      display: block;
      background-color: $greysoft;
      padding: 20px;
      margin: 30px 0 0 0;
      @include breakpoint($mobile) {
        margin: 6px 0;
      }
      .title-config-box {
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        color: $greydark;
        margin: 0 0 20px;
        text-align: center;
        width: 100%;
      }
      .inner-box {
        @include span(12 of 12);
        background-color: white;
        padding: 10px;
        &.trans {
          background-color: transparent;
        }
        @include breakpoint ($mobile) {
          padding: 0;
          background-color: transparent;
        }

        .product-promo {
          float: left;
          width: 100%;
          margin-bottom: 12px;
          padding: 20px;
          background-color: white;
          text-align: center;
          @include breakpoint ($mobile) {
            .big-pink {
              font-size: 24px;
            }
          }
        }
        h5 {
          color: $pink;
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 20px;
          margin-top: 15px;
          @include breakpoint ($mobile) {
            font-size: 12px;
            text-align: center;
          }
        }

        > .gallery-item {
          @include gallery(4 of 12);
          @include breakpoint ($mobile) {
            width: 100% !important;
            margin: 0 0 16px 0 !important;
            padding: 0 10px;
            border: 2px solid white;
            box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.7);
          }
        }
        > .product-list-blocks {
          width: 100%;
          background-color: white;
          margin-bottom: 16px;
          @include clearfix();
          @include breakpoint ($mobile) {
            margin-bottom: 10px;
            padding: 12px;
          }

          .img-container {
            float: left;
            width: 40%;
            padding: 26px;
            @include breakpoint ($mobile) {
              padding: 0;
            }
          }
          .product-description {
            float: left;
            width: 60%;
            padding: 25px 10px;
            @include breakpoint ($mobile) {
              width: 55%;
              padding: 0 0 0 5%;
            }
            .product-title {
              font-size: 26px;
              @include breakpoint ($mobile) {
                font-size: 14px;
              }
              .big {
                font-size: 36px;
                @include breakpoint ($mobile) {
                  font-size: 20px;
                }
              }
            }
            a.button-pink,
            a.button-active {
              float: left;
              width: 100%;
              clear: none;
              margin-top: 16px;
              @include breakpoint ($mobile) {
                padding: 3px 0;
                line-height: 14px;
                margin-bottom: 0;
                margin-top: 3px;
              }
            }
          }
        }
        .custom-links a {
          display: block;
          width: 100%;
          float: left;
          margin-bottom: 3px;

        }
        > .custom-item {
          width: 33%;
          float: left;

          &.one {
            width: 40%;
          }
          &.two {
            width: 30%;
          }
          &.three {
            width: 30%;
          }

          img {
            width: 100%;
          }

          @include breakpoint ($mobile) {

            &.one {
              margin: 20px 0;
              width: 50%;
            }
            &.two {
              margin: 20px 0;
              width: 50%;
            }
            &.three {
              margin: 10px 0 0 0;
              width: 100%;
            }
          }
          .actions-container {
            float: left;
            padding: 6px 0 0 30px;
            @include breakpoint ($mobile) {
              width: 100%;
              padding: 0;
            }
            a {
              text-align: center;
              width: 100%;
              float: left;
              margin-bottom: 3px;
              @include breakpoint ($mobile) {
                margin: 3px 0;
              }
            }
          }
        }
        .big-pink {
          color: $pink;
          font-size: 26px;
          line-height: 26px;
          @include breakpoint ($mobile) {
            font-size: 14px;
          }
        }
        img {
          vertical-align: middle;
          width: 100%;
        }
        .prod-description {
          color: $pink;
          font-size: 21px;
          font-weight: bold;
        }
      }
    }

    .service-status {
      font-weight: bold;
      &:before {
        content: '\e923';
        margin-right: 6px;
        font-family: 'atelecom-icons' !important;
        font-size: 12px;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
      &.active:before {
        color: $pink;
      }
      &.inactive:before {
        color: $greymedium;
      }

      a {
        color: black;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

.general-alert-wrapper .content-general-wrapper.clientproducts {
  width: 470px;
  margin: 4% auto;
  @include breakpoint($mobile) {
    width: 98%;
  }
  .alert-general-title {
    h2 {
      float: left;
      line-height: 34px;
      &.alta-success {
        margin-bottom: 16px;
        &:before {
          content: "\e934";
          font-family: 'atelecom-icons' !important;
          font-size: 30px;
          color: $green;
          padding-right: 12px;
          position: relative;
          top: 8px;
        }
      }
      &.half {
        width: 50%;
        @include breakpoint($mobile) {
          width: 100%;
        }
      }
    }
    img {
      float: right;
      margin-right: 7%;
      @include breakpoint($mobile) {

      }
    }
    @include breakpoint($tablet) {
      margin-top: 0;
    }
    @include breakpoint($mobile) {
      margin-top: -32px;
    }
  }
  .alert-general-body {
    @include clearfix();
    padding: 10px 25px;

    .checkbox-custom label a {
      color: $pink;
      font-weight: 400;
      font-size: 16px;
    }
    label {
      color: black;
      font-size: 16px;
      font-weight: 600;
    }
    select {
      width: 50%;
    }

    input[type=text] {
      width: 80%;
      @include breakpoint ($mobile) {
        width: 100%;
      }
    }
    input[type=submit].centered, input[type=button].centered {
      display: inline;
      float: none;
    }

    #password-strength-text {
      text-align: right;
      width: 80%;
      margin-bottom: 0;
      .feble {
        font-weight: bold;
        color: red;
      }
      .mitja {
        font-weight: bold;
        color: $orange;
      }
      .alta {
        font-weight: bold;
        color: $green;
      }
    }

    // BAR STRENGTH
    meter {
      background-color: rgba(0, 0, 0, 0.1);
      float: left;
      margin: 0;
      width: 80%;
      height: 10px;
    }
    //
    meter::-webkit-meter-bar {
      background: none;
      background-color: rgba(0, 0, 0, 0.1);
    }
    /* Webkit based browsers */
    meter[value=".25"]::-webkit-meter-optimum-value {
      background: red;
    }
    meter[value=".5"]::-webkit-meter-optimum-value {
      background: $orange;
    }
    meter[value=".75"]::-webkit-meter-optimum-value {
      background: $green;
    }
    meter[value="1"]::-webkit-meter-optimum-value {
      background: $green;
    }

    /* Gecko based browsers */
    meter[value=".25"]::-moz-meter-bar {
      background: red;
    }
    meter[value=".5"]::-moz-meter-bar {
      background: $orange;
    }
    meter[value=".75"]::-moz-meter-bar {
      background: $green;
    }
    meter[value="1"]::-moz-meter-bar {
      background: $green;
    }

    .success {
      font-size: 21px;
    }
    .download-app {
      font-size: 16px;
    }
    .app-icons {
      float: none;
      clear: both;
      height: 60px;
      img {
        float: left;
        width: 40%;
        margin: 2% 5% 2%;
      }
    }

    .inner-box {
      @include span(12 of 12);
      padding: 16px 4px;

      img {
        vertical-align: middle;
        width: 100%;
      }

      > div {
        @include gallery(3 of 12);
      }
      > div {
        margin-bottom: 2%;
      }
    }
  }
}

.message {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $greymedium;

}