<<<<<<< HEAD
#profile-text{
  background-color: #f5f5f5;
}
#profile-info{
  .profile-info-element{
    h1{
      margin-bottom: 0;
      color: $greymedium;
      padding-bottom: 25px;
      .icons{
        padding: 0 22px;
        color: $pink;
      }
    }
    .profile-info-data{
      padding-left: 74px;
      h4{
        margin: 0 0 5px 0;
        font-size: 16px;
        line-height: 20px;
        color: $greymedium;
      }
      p{
        margin: 0;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
        color: $greymedium;
        &.info-small{
          color:#9c9e9f;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          width: 250px;
          padding: 15px 0;
        }
        &.no-padding{
          padding: 0;
        }
      }
      a.button-pink{
        float: left;
        margin: 0;
        width: 111px;
      }
      select{
        width: auto;
        min-width: 190px;
        margin-bottom: 25px;
      }
    }
  }
=======
#profile-text{
  background-color: #f5f5f5;
}
#profile-info{
  .profile-info-element{
    h1{
      margin-bottom: 0;
      color: $greymedium;
      padding-bottom: 25px;
      .icons{
        padding: 0 22px;
        color: $pink;
      }
    }
    .profile-info-data{
      padding-left: 74px;
      h4{
        margin: 0 0 5px 0;
        font-size: 16px;
        line-height: 20px;
        color: $greymedium;
      }
      p{
        margin: 0;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 20px;
        color: $greymedium;
        &.info-small{
          color:#9c9e9f;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
          width: 250px;
          padding: 15px 0;
        }
        &.no-padding{
          padding: 0;
        }
      }
      a.button-pink{
        float: left;
        margin: 0;
        width: 111px;
      }
      select{
        width: auto;
        min-width: 190px;
        margin-bottom: 25px;
      }
    }
  }
>>>>>>> a6d307d1b13226f71bc3c444c2a6881dc935f265
}