.cont-wrapper {
  //PAGE REGISTER USER
  form#register-form {
    display: block;
    margin: 20px 20% 40px 0;
    overflow: hidden;
    position: relative;
    @include breakpoint($tablet) {
      margin: 20px 0 40px 0;
    }
    fieldset{
      padding: 0;
      width: 100%;
      clear: both;
      .radio-custom{
        position: relative;
        display: block;
        float: left;
        clear: none;
        margin: 10px 60px 10px 0;
      }
      input[type=text]{
        width: 90%;
        float: left;
        @include breakpoint($tablet) {
          width: 85%;
        }
      }
      .tooltip-wrapper {
        cursor: pointer;
        float: left;
        margin-left: 10px;
        margin-top: 15px;
        .icons{
          color: $pink;
          font-size: 22px;
        }
      }
    }
    .checkbox-custom {
      clear: none;
      float: left;
      margin:10px 0;
      padding-right: 20px;
    }
    input[type=submit].register-send {
      width: 200px;
      @include breakpoint($mobile) {
        width: 100%;
      }
    }
  }
  .info-banner-vertical {
    background-color: $greysoft;
    display: block;
    margin: 20px 0 40px 0;
    overflow: hidden;
    padding: 30px 60px;
    position: relative;
    h2{
      color: $greydark;
      display: block;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 40px;
      position: relative;
      text-align: center;
    }
    ul {
      li {
        clear: both;
        display: block;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        @include breakpoint($mobile) {
         margin-bottom: 40px;
        }
        span {
          color: $greydark;
          display: block;
          float: left;
          font-size: 21px;
          line-height: 25px;
          position: relative;
          text-align: left;
          width: 68%;
          @include breakpoint($mobile) {
            clear: both;
            float: none;
            text-align: center;
            width: 100%;
          }
          &.icons {
            color: $pink;
            display: block;
            float: left;
            font-size: 50px;
            line-height: 55px;
            margin-bottom: 10px;
            margin-right: 2%;
            position: relative;
            text-align: center;
            width: 30%;
            @include breakpoint($mobile) {
              clear: both;
              float: none;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }

  //PAGE REGISTER CLIENT
  form#alta-client-form {
    display: block;
    margin: 20px 0 40px 0;
    overflow: hidden;
    position: relative;
    fieldset {
      &.big-fieldset {
        width: 60%;
      }
      &.small-fieldset {
        width: 40%;
      }
    }
    input[type=submit].alta-client-send {
      width: 111px;
      @include breakpoint($mobile) {
        width: 100%;
      }
    }
  }


  #invoice-wrapper,
  #mobil-wrapper,
  #register-info-wrapper {
    display: none;
  }
}
