.cont-wrapper{
  &#search-results{
    background: #f5f5f5;
    padding: 40px 0;
    @include breakpoint($tablet) {
      padding: 15px 0;
    }
    .sidebar{
      .counter-results{
        clear: both;
        color: $greydark;
        display: block;
        font-size: 26px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 10px;
        position: relative;
      }
      .counter-resultsperpage{
        clear: both;
        color: $greymedium;
        display: block;
        font-size: 16px;
        font-style: italic;
        line-height: 24px;
        margin-bottom: 35px;
        position: relative;
      }
      ul{
        li{
          clear: both;
          display: block;
          float: none;
          overflow: hidden;
          padding: 5px 0;
          position: relative;
          &.active{
            a{
              font-weight: bold;
            }
          }
          a{
            display: block;
            float: left;
            overflow: hidden;
            position: relative;
            width: 100%;
            @include breakpoint($tablet) {
              width: 50%;
            }
            @include breakpoint($mobile) {
              width: 100%;
            }
            &:after{
              /* use !important to prevent issues with browser extensions that change fonts */
              color: $black;
              content: "\e917";
              display: block;
              float: right;
              font-family: 'atelecom-icons' !important;
              font-size: 12px;

              /* Better Font Rendering =========== */
              font-style: normal;
              font-variant: normal;
              font-weight: bold;
              line-height: 1;
              padding: 3px 0;
              position: relative;
              text-transform: none;
              speak: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
            &:hover{
              span{
                font-weight: bold;
                &.counter-filter{
                  background-color: $pinklight;
                }
              }
            }
            &:active{
              span{
                font-weight: bold;
                &.counter-filter{
                  background-color: $pinkdark;
                }
              }
            }
            span{
              color: $greydark;
              display: block;
              float: left;
              font-size: 16px;
              line-height: 24px;
              position: relative;
              &.counter-filter{
                background-color: $pink;
                border-radius: 8px;
                color: $white;
                display: block;
                float: left;
                font-size: 12px;
                font-weight: normal;
                height: 19px;
                line-height: 19px;
                margin-left: 10px;
                position: relative;
                text-align: center;
                vertical-align: middle;
                width: 26px;
                &.zero{
                  background-color: $gris3;
                }
              }
            }
          }
        }
      }
    }
    .content-ws{
      display: block;
      overflow: hidden;
      position: relative;
      .results-wrapper{
        display: block;
        overflow: hidden;
        position: relative;
        .results-element{
          background-color: $white;
          display: block;
          margin-bottom: 10px;
          overflow: hidden;
          padding: 25px 35px;
          position: relative;
          &:before{
            /* use !important to prevent issues with browser extensions that change fonts */
            color: $pink;
            display: block;
            float:left;
            font-family: 'atelecom-icons' !important;
            font-size: 35px;
            font-style: normal;

            /* Better Font Rendering =========== */
            font-variant: normal;
            line-height: 1;
            padding:20px 0;
            position: relative;
            text-align: left;
            text-transform: none;
            width: 10%;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            @include breakpoint($tablet) {
              display: none;
            }
          }
          &.mobile{
            &:before {
              content: "\e909";
            }
            @include breakpoint($tablet) {
              .right {
                &:before {
                  content: "\e909";
                }
              }
            }
          }
          &.email{
            &:before {
              content: "\e907";
            }
            @include breakpoint($tablet) {
              .right {
                &:before {
                  content: "\e907";
                }
              }
            }
          }
          &.call{
            &:before {
              content: "\e91c";
            }
            @include breakpoint($tablet) {
              .right {
                &:before {
                  content: "\e91c";
                }
              }
            }
          }
          .right{
            width: 88%;
            @include breakpoint($tablet) {
              width: 100%;
              &:before{
                /* use !important to prevent issues with browser extensions that change fonts */
                color: $pink;
                display: block;
                float:left;
                font-family: 'atelecom-icons' !important;
                font-size: 35px;
                font-style: normal;

                /* Better Font Rendering =========== */
                font-variant: normal;
                line-height: 1;
                padding:0 0 20px 0;
                position: relative;
                text-align: left;
                text-transform: none;
                width: 10%;
                speak: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include breakpoint($mobile) {
                  width: 20%;
                }
              }
            }
            .r-type{
              clear: both;
              color: $pink;
              display: block;
              font-size: 12px;
              font-weight: bold;
              line-height: 18px;
              margin-bottom: 5px;
              position: relative;
              text-transform: uppercase;
              @include breakpoint($tablet) {
                clear: right;
                float:left;
                width: 70%;
              }
            }
            .r-title{
              clear: both;
              color: $black;
              display: block;
              font-size: 18px;
              font-weight: bold;
              line-height: 22px;
              margin-bottom: 5px;
              position: relative;
              @include breakpoint($tablet) {
                clear: right;
                float:left;
                width: 70%;
              }
            }
            .r-description{
              clear: both;
              color: $greymedium;
              display: block;
              font-size: 14px;
              line-height: 18px;
              position: relative;
              @include breakpoint($tablet) {

              }
            }
          }
        }
        .results-paginator{
          position: relative;
          display: block;
          clear: both;
          float: right;
          text-align: right;
          font-size: 14px;
          line-height: 18px;
          color: $greymedium;
          @include breakpoint($tablet) {
            display: none;
          }
          li{
            position: relative;
            display: block;
            float: left;
            &.active {
              a{
                border: 1px solid $pink;
                border-radius: 50%;
                position: relative;
                display: block;
                font-weight: bold;
              }
            }
            .icons{
              font-size: 14px;
              line-height: 18px;
              color:$pink;
            }
            a{
              text-align: center;
              padding: 0;
              position: relative;
              display: block;
              font-size: 14px;
              line-height: 22px;
              width: 22px;
              height: 22px;
              margin: 2px 5px;
              color:$greymedium;
              &:hover{
                border: 1px solid $pink;
                border-radius: 50%;
                position: relative;
                font-weight: bold;
                display: block;
              }
            }
          }
        }
        .results-paginator-mobile{
          position: relative;
          overflow: hidden;
          display: none;
          background-color: $grey;
          color: $greydark;
          text-align: center;
          font-size: 14px;
          line-height: 18px;
          font-weight: bold;
          padding: 15px;
          margin-top: 20px;
          @include breakpoint($tablet) {
            display: block;
          }
          li{
            position: relative;
            display: block;
            float: left;
            width:10%;
            &.number-page{
              position: relative;
              display: block;
              float: left;
              width: 80%;
            }
            .icon-left{
              position: relative;
              display: block;
              float: left;
              font-size: 20px;
              line-height: 24px;
              color:$pink;
            }
            .icon-right{
              position: relative;
              display: block;
              float: right;
              font-size: 20px;
              line-height: 24px;
              color:$pink;
            }
          }
        }
      }
    }
  }
  .content{
    .search-value-info{
      display: block;
      margin-bottom: 40px;
      overflow: hidden;
      padding-right: 3%;
      position: relative;
      width: 52%;
      @include breakpoint($tablet) {
        margin-bottom: 0;
        padding-right: 0;
        width:100%;
      }
      .value-search {
        clear: both;
        display: block;
        margin: 20px 0 0 0;
        position: relative;
        .title-value-search {
          clear: none;
          float: left;
          margin: 0;
          padding-right: 25px;
        }
        .text-value-search {
          color: $pink;
          display: block;
          float: left;
          font-size: 30px;
          font-style: italic;
          line-height: 35px;
          margin: 0;
          position: relative;
        }
      }
      .recommendation-search{
        clear: both;
        display: block;
        position: relative;
        .title-recommendation-search{
          color: $greymedium;
          display: block;
          float: left;
          font-size: 16px;
          line-height: 22px;
          position: relative;
        }
        .text-recommendation-search{
          color: $pink;
          display: block;
          float: left;
          font-size: 18px;
          font-style: italic;
          font-weight: bold;
          line-height: 22px;
          padding-left: 10px;
          position: relative;
        }
      }
    }
    .search-value-form{
     display: block;
     margin-bottom: 40px;
     overflow: hidden;
     position: relative;
     @include breakpoint($tablet) {
       clear: both;
       float: none;
       margin: 20px 0;
       width: 100%;
     }
     form{
       margin: 20px 0 0 0;
       .left, .right{
         @include breakpoint($tablet) {
           clear: both;
           float: none;
         }
       }
       input.search-value-input{
         clear:both;
         display: block;
         margin-bottom: 5px;
         position: relative;
         @include breakpoint($tablet) {
           clear: both;
           float: none;
           width: 50%;
         }
         @include breakpoint($mobile) {
           width:100%;
         }
       }
       .checkboxCSS{
         display: block;
         float:left;
         padding-right: 10px;
         position: relative;
         @include breakpoint($tablet) {
           margin: 0 0 10px 0;
         }
       }
       input.search-value-send{
         display: block;
         margin: 0;
         margin-left: 10px;
         position: relative;
         width: 110px;
         @include breakpoint($tablet) {
           clear: both;
           float: none;
           margin: 10px 0;
           width: 50%;
         }
         @include breakpoint($mobile) {
           width:100%;
         }
       }
     }
   }
  }
}

