@import "susy";
@import "breakpoint";

$susy: (
        columns: 12,
        gutters: 1/4,
);
@include global-box-sizing(border-box);

/* All variables here */
$full-large: max-width 1550px;
$x-large: max-width 1400px;
$wxga: max-width 1366px;
$large: max-width 1280px;
$intermedio: max-width 1024px;
$medium: max-width 980px;
$tablet: max-width 768px;
$mobile: max-width 480px;
$mob_smallest: max-width 320px;

/**
 FONTS
**/

/* <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet"> */
$titillium: 'Titillium Web', sans-serif;

/**
 FONT SIZE
**/

/**
 COLORS
**/
$black: #000000;
$greydark: #333333;
$greymedium: #58585A;
$greysoft: #f7f7f7;
$grey: #E4E4E4;
$gris2:  #979797;
$gris3:  #9C9E9F;
$products-bggrey: #f5f5f5;
$products-fontcolor: #4a4a4a;
$white: #FFFFFF;
$whitealt:  #DDDDDD;
$pink: #D30572;
$pinklight: #FF309D;
$pinkdark: #8D0E57;
$rosa2: #D40072;
$rosa3: #E7007A;
$fadepinkleft: #E7007A;
$fadepinkright: #F26DB3;
$pink_superlight: #fce5f1;
$yellow: #F8E71C;
$orange: #f6a623;
$green: #71b12a;



